@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;    
}

body{
   
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #EED5B5;
    animation: float 6s infinite alternate;
    
}


nav h1{
    color: white;
    font-size: 50px;
    text-shadow:
        2px 0 #E9B150,
        -2px 0 #E9B150,
        0 2px #E9B150,
        0 -2px #E9B150,
        2px 2px #E9B150,
        -2px -2px #E9B150,
        2px -2px #E9B150,
        -2px 2px #E9B150;
    margin-bottom: 15px;
    text-align: center;
}

form{
     padding: 40px;
  background-color: #74180D;
  width: 500px;             
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;         
  margin: 50px auto; 
}
form label{
    color: white;
}
 
nav {
  display: flex;
    flex-direction: column; 
    align-items: center;    
    background-color: #16360B;
    padding: 20px 0;
}


section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px;
    margin: 0 auto; 
    padding: 0;
}

nav li {
    font-size: 20px;
}

nav ul li a {
     text-decoration: none;
  color: white;
  background-color: #0A4B0D;
  border: 4px solid #0A4B0D;
  border-radius: 10px;
  padding: 5px 10px;
}
.logo{
    width: 120px;
    
}
.logo img{
    width: 100%;
}

header img{
    width: 200px ;
    height: 200px ;
}

header h3{
    color: black;
    font-size: 1.35rem;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}


input{
  padding: 8px;
  border: none;
  border-radius: 4px;
   background-color: #DA6F6F; 
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  ;
  cursor: pointer;
  transition: 0.3s;
}

label {
  color: black;
  font-weight: 500;
  text-align: left;
}
main a:hover{
    opacity: .80;
}

footer{
 background-color: #16360B;
 text-align: center;
 padding: 30px;
 position: fixed;
 bottom: 0;
 width: 100%;
}   
footer p{
    color: white;
    font-size: 18px;
}

@media (max-width: 620px) {
    section{
        width: 90%;
        padding: 30px;
    }
    header img{
        width: 100%;
    }

    header h3{
        font-size: 1.3rem;
        color: Black;
    }
    main{
        gap: 15px;
    }
    main a{
        padding: 10px 0;
        box-shadow: 5px 5px #b6b6b6;
    }

}

