@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
  font-family: 'Titulo';
  src: url('../Font/FortalesiaScript_PERSONAL_USE_ONLY.otf');
}

*{
    font-family: Arimo;
}

body {
  background-color: #EED5B5;
  margin: 0;
  padding: 0;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #16360B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.cadastro img{
  width: 70px;
  height: 70px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.menulogo img{
   height: 150px;
  width: 150px;
}

.textos-nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.textos-nav h1 {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  font-family: 'titulo';
  color:  #E9B150;
    text-shadow: 0.5px 0.5px 65px rgb(0, 0, 0)
}

.textos-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.textos-nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: 0.3s;
}

.textos-nav a:hover {
  color: #E9B150 ; /* tom dourado sofisticado */
}

.bloco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6e150c; /* marrom vinho */
  border-radius: 8px;
  padding: 30px;
  margin: 50px auto;
  width: 70%;
  color: #fff;
  gap: 20px;
}



.texto {
  flex: 1;
  font-size: 1rem;
  line-height: 1.6;
}

.imagem {
  flex: 0 0 250px;
}

.imagem img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #16360B;
    color: white;
    margin-top: 20px;
}
